@page "/album"
<style>
   .calification-card {
        border: solid 2px black;
        cursor: pointer;
        transition: border 0.3s ease; /* Agregar una transición para suavizar el cambio */
    }

     .calification-card:hover {
            border: dashed 2px red;
            animation: pulse 0.5s ease; /* Aplicar la animación definida */
        }
</style>

@if(DataCargada)
{
    <BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster" Delay="TimeSpan.FromSeconds(1)">
        <MudItem Style="margin-top: 60px;">
            <div style="height: 50px;display: flex; flex-direction: column; gap: 10px; width: 100%; align-items: center; justify-content: center; margin-bottom: 60px; ">

                <MudText Style="font-size: 20px; font-weight: bold;">ALBUM REVIEW</MudText>
                <div Style="border: solid 1px red; height: 2px; width: 40px;"></div>





            </div>
            <MudGrid Justify="Justify.Center" Style="margin-top: 60px; display: flex; align-items: center; align-items: center; justify-content: center; gap: 20px;">


                <MudItem md="5" lg="5" xxl="5" xl="5" sm="12" xs="12">


                    <MudText Color="Color.Error" Style="font-size: 12px; font-weight: bold; margin-top: 15px;  " Align="Align.Center">Alternativo</MudText>
                    <MudText Style="font-size: 50px; font-family: SourceSerif4;  " Align="Align.Center">“Did You Know That There Is A Tunnel Under Ocean Blvd”</MudText>

                    <MudText Style="font-size: 30px; font-family: SourceSerif4;  " Align="Align.Center">Lana del Rey</MudText>
                    <MudText Style="font-size: 12px; margin-top: 15px;  " Align="Align.Center"><b>2023</b></MudText>
                </MudItem>
              
                <MudItem md="4" lg="4" xxl="4" Class="container" xl="4" sm="12" xs="12" Style=" display: flex; flex-direction: column; align-items: center; align-items: center; justify-content: center; gap: 15px;">

                    <MudAvatar Square=true Rounded=false Style="height: 250px; width: 250px;">
                        <MudImage src="https://media.pitchfork.com/photos/641c76f8717af22dc39c1ea2/1:1/w_320,c_limit/Lana-Del-Rey.jpg" />
                    </MudAvatar>
                    <div class="d-flex" style="gap: 10px; align-items: center;">
                        <MudLink @onclick='()=>{navManager.NavigateTo("/user/breiddysubzero");}' Style="opacity: 0.7;font-size: 15px; font-style: italic; font-family: SourceSerif4; cursor: pointer;">Por: Breiddy Garcia  </MudLink>
                        <MudText Style="font-size: 15px; opacity: 0.7; cursor: pointer;">•</MudText>

                        <MudText Style="font-size: 12px;  opacity: 0.7;  cursor: pointer;">Hace 10 dias.</MudText>

                    </div>
                    


                </MudItem>


            </MudGrid>
          <div style="display:flex; align-items: center; justify-content: center;margin-top: 20px; margin-bottom: 20px;">
                <MudDivider DividerType="DividerType.Middle" Style=" width: 50%; "></MudDivider>

          </div>

         

          <div>
                <MudItem Style="margin-top: 70px;">
                    <MudGrid Justify="Justify.Center" Style="display: flex; align-items: first baseline;">
                        <MudItem Style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px;" md="4" lg="4" xxl="4" xl="4" sm="12" xs="12">

                            <MudCard Style="padding: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px;">
                                <MudAvatar Class="calification-card" Size="Size.Large"  Variant="Variant.Outlined" Style="width: 120px; height: 120px; font-weight: bold;">
                                    8
                                </MudAvatar>
                                <MudText Style="font-size: 12px;  font-weight: bold; opacity: 0.8;  " Color="Color.Secondary">CALIFICACION DEL REVIEWER</MudText>
                            </MudCard>

                        </MudItem>
                        <MudItem Style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px;" md="4" lg="4" xxl="4" xl="4" sm="12" xs="12">

                            <MudCard Style="padding: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px;">
                                <MudAvatar Class="calification-card" Size="Size.Large" Variant="Variant.Outlined" Style="width: 120px; height: 120px; font-weight: bold;">
                                    10
                                </MudAvatar>
                                <MudText Style="font-size: 12px; font-weight: bold;  opacity: 0.8;   " Color="Color.Secondary">CALIFICACIONES DEL PUBLICO </MudText>

                            </MudCard>
                            <MudChip @onclick="ShowNotes"  Style="font-size: 13px;  border: dashed 1px red; cursor: pointer;" Variant="Variant.Text" Color="Color.Error">Ver 120 reviews</MudChip>
                        </MudItem>
                    </MudGrid>
                </MudItem>
          </div>
          

        </MudItem>
       
    </BlazorAnimation.Animation>
 
}
else
{
    <div style="position: relative;">
         <MudOverlay Visible="true" DarkBackground="@theme.IsDark()" LightBackground="@(!theme.IsDark())" Absolute="true">
       
             
         </MudOverlay>
    </div>
}


@functions{

    public async Task ShowNotes()
    {
        var options = new MudBlazor.DialogOptions() { NoHeader = true, CloseButton = false };

       await dService.ShowAsync<Pages.Common_Components.NotasDialog>("", options);
    }
}
@code {



    protected override async Task OnInitializedAsync()
    {
        try
        {
            DataCargada = false;
            var config = SpotifyClientConfig.CreateDefault();

            var request = new ClientCredentialsRequest("be3b1a5218c449a79a3a21ddfe850a5f", "7cf1d67e3efd4690a1bd43a18903f7dc");
            var response = await new OAuthClient(config).RequestToken(request);

            var spotify = new SpotifyClient(config.WithToken(response.AccessToken));

            var album = await spotify.Albums.Get("2fYhqwDWXjbpjaIJPEfKFw");
            var tracks = await spotify.Albums.GetTracks("2fYhqwDWXjbpjaIJPEfKFw");
            var albumes = await spotify.Artists.GetAlbums(album.Artists[0].Id);
            var artist = await spotify.Artists.Get(album.Artists[0].Id);

            
          
            DataCargada = true;

        }
        catch (Exception e)
        {
            var excepcion = e.InnerException?.Message ?? e.Message;

        }

    }

    public List<AlbumResponse> albumesrealciondos = new List<AlbumResponse>();
    public bool DataCargada = false;
    public int ratenumber = 1;
    public List<int> rate = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    public AlbumResponse Albumresponse = new AlbumResponse();
    public List<Track> tracksdelalbum = new List<Track>();
  
   



}
