@page "/all-artists"

<div style="height: 50px;display: flex; flex-direction: column; gap: 10px; width: 100%; align-items: center; justify-content: center; margin-bottom: 60px; ">

    <MudText Style="font-size: 20px; font-weight: bold;">ARTISTAS NUEVOS</MudText>
    <div Style="border: solid 1px red; height: 2px; width: 40px;"></div>









</div>

<MetaMusic.Pages.Common_Components.AllArtistsComponent></MetaMusic.Pages.Common_Components.AllArtistsComponent>