@page "/"
<style>
    .review-text-card{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
       
    }

    .review-card{
        cursor: pointer;
    }

    .review-card:hover{
            border: thin 1px #E74646;
        
    }
</style>
<MudItem Style="margin-top: 30px;">

    @if (recentAlbumsLoaded)
    {
        <BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster" Delay="TimeSpan.FromSeconds(1)">
            <MetaMusic.Pages.Common_Components.LoMasReciente albumes="@albumesrecientes"></MetaMusic.Pages.Common_Components.LoMasReciente>

        </BlazorAnimation.Animation>
    }
    else if(notRecentAlbumes)
    {

            <BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster" Delay="TimeSpan.FromSeconds(1)">
                <div style="width: 100%; min-height: 80vh;  display:flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center; ">


                    <MudItem md="6" lg="6" xl="6" xxl="6" sm="6" xs="6">


                        <MudText Style="font-size: 15px; font-weight: bold; opacity: 0.7;">No hay nada aqui. Contenido nuevo pronto.</MudText>


                    </MudItem>
                </div>
            </BlazorAnimation.Animation>
        
    }
    else
    {
        <BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster" Delay="TimeSpan.FromSeconds(1)">
            <div style="width: 100%; min-height: 80vh;  display:flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center; ">


                <MudItem md="6" lg="6" xl="6" xxl="6" sm="6" xs="6">
                    @if (theme.IsDark())
                    {
                        <MudImage Src="/meta-logo-white.png" Style="width: 80px; width: 80px;"></MudImage>
                    }
                    else
                    {

                        <MudImage Src="/meta-logo.png" Style="width: 80px; width: 80px;"></MudImage>
                    }

                    <MudProgressLinear Rounded=true Color="Color.Error" Indeterminate=true></MudProgressLinear>


                </MudItem>
            </div>
        </BlazorAnimation.Animation>
    }

    
    
</MudItem>

<BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster" Delay="TimeSpan.FromSeconds(1)">
    <MudDivider Style="margin-top: 40px; margin-bottom: 40px;  "></MudDivider>
    @if (recentAlbumsLoaded && AlbumReviewOfTheMontLoaded)
    {
        if(!notReviewOfTheMonth)
        {
            <SongReviewOfTheMonth album="@reviewOfTheMont"></SongReviewOfTheMonth>

        }
        else
        {
            <BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster" Delay="TimeSpan.FromSeconds(1)">
                <div style="width: 100%; min-height: 80vh;  display:flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center; ">


                    <MudItem md="6" lg="6" xl="6" xxl="6" sm="6" xs="6">


                        <MudText Style="font-size: 15px; font-weight: bold; opacity: 0.7;">No hay nada aqui. Contenido nuevo pronto.</MudText>


                    </MudItem>
                </div>
            </BlazorAnimation.Animation>
        }
    }


</BlazorAnimation.Animation>


<BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster" Delay="TimeSpan.FromSeconds(2)">
    <MudDivider Style="margin-top: 40px; margin-bottom: 40px;"></MudDivider>
   
    @if(AlbumReviewOfTheMontLoaded)
    {
        <ArtistasNuevos></ArtistasNuevos>
    }
   
    

</BlazorAnimation.Animation>
@functions{

    public async Task GetRecentAlbums()
    {

        recentAlbumsLoaded = false;
        var r = await albumService.ConsultarRecientes();

        if(r.Data is not null)
        {
            albumesrecientes = r.Data;
            notRecentAlbumes = false;
        }
        else
        {
            notRecentAlbumes = true;
        }
        recentAlbumsLoaded = true;

    }
    public async Task GetReviewOfTheMont()
    {
        AlbumReviewOfTheMontLoaded = false;
        var r = await albumService.GetBestReview();

        if(r.Success && r.Data is not null)
        {
            reviewOfTheMont = r.Data;
            notReviewOfTheMonth = false;
        }
        else
        {
            notReviewOfTheMonth = true;
        }
        AlbumReviewOfTheMontLoaded = true;
    }
    public async Task VerifyUserAuth(){
        var state = await authstate.GetAuthenticationStateAsync();
        var user = state.User;
        if (user.Identity is null || user.Identity.IsAuthenticated)
        {



            IsAuthenticated = true;

            StateHasChanged();


        }
        else
        {
            IsAuthenticated = false;

        }
    }
}
 @code{
    public bool IsAuthenticated = false;
    protected override async Task OnInitializedAsync()
    {
        try
        {

            await GetRecentAlbums();
            await VerifyUserAuth();
            await GetReviewOfTheMont();
        }
        catch(Exception e)
        {
            var excepcion = e.InnerException?.Message ?? e.Message;

        }

    }

    public bool recentAlbumsLoaded = false;
    public bool AlbumReviewOfTheMontLoaded = false;
    public bool notRecentAlbumes = false;
    public bool notReviewOfTheMonth = true;
    public List<AlbumResponse> albumesrecientes = new List<AlbumResponse>();
    public AlbumResponse reviewOfTheMont = new AlbumResponse();

}