
<style>
    .portada-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .portada-text mark{
        background-color:#E74646;
    }


    .review-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .container {
        position: relative;
        text-align: center;
        
    }
</style>
<div style="height: auto;display: flex; gap: 10px; width: 100%; align-items: center; justify-content: center; margin-bottom: 60px;">

    <MudLink Color="Color.Error"  Style="font-size: 20px; font-weight: bold; cursor: pointer; opacity: 0.7;">ALBUM REVIEW DEL MES</MudLink>
    <MudIcon Icon="@Icons.Material.Rounded.Launch" Color="Color.Error"></MudIcon>
</div>

<MudItem >
    <MudGrid Justify="Justify.Center" Style="display: flex; align-items: center;">
       
        <MudItem md="6" lg="6" xxl="6" Class="container" xl="6" sm="10" xs="10" Style="height: 320px; width:100%;">

            <MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@Album.Portada" Style="height:100%;border-radius: 10px; width: 100%;  " />
                <MudText Class="portada-text" Style="font-size: 25px; font-weight: bold; font-family: SourceSerif4; opacity: 1;" Color="Color.Primary" Align="Align.Center"> <mark>Titanic Rising - Weyes Blood</mark></MudText>
                
           
        </MudItem>
         <MudItem  md="4" lg="4" xxl="4" xl="4" sm="12" xs="12" Style=" width:100%;  ">
            
             <MudGrid>
                 <MudItem md="12" lg="12" xl=12 xxl="12" sm="12" xs="12">
                    <div style="display: flex; gap: 30px; align-items: center; flex-direction: column;">
                       
                        <div style="display: flex; gap: 7px; align-items: center; flex-direction: column;">
                            <MudTooltip Arrow=true Text="Calificion de reviewer" Color="Color.Error">
                                <MudAvatar Size="Size.Large" Style="width: 120px; height: 120px; font-size: 30px; " Color="Color.Error" Variant="Variant.Outlined">8</MudAvatar>
                            </MudTooltip>
                           
                        </div>
                        <MudText Style="font-size: 12px; "> <b>120</b> reviews - Con un promedio de <b>9</b> </MudText>

                        <MudButton @onclick='()=>{navManager.NavigateTo("/user/breiddysubzero");}' Style="font-size: 12px;" DisableElevation=true Variant="Variant.Text" Color="Color.Error">Ver Review</MudButton>
                    </div>

                </MudItem>
               
             </MudGrid>
            
           

           

         </MudItem>
    </MudGrid>
</MudItem>


@code {
    [Parameter] public AlbumResponse Album { get; set; } = new AlbumResponse();
}
