@page "/asing-data"
@using System.Security.Claims
@using Microsoft.AspNetCore.Http




    <MudOverlay LightBackground=true Absolute="true" Visible=@(loadingdata) Style="border-radius: 10px;">
        <div style="border-radius: 10px; display:flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center;">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />

            <MudText Align="Align.Center" GutterBottom="true" Style="font-size: 15px; font-weight: bold;  margin-bottom: 15px;" Color="Color.Primary">Redirigendo</MudText>

        </div>

    </MudOverlay>


@code {

    public bool loadingdata = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if(firstRender)
        {
            try
            {
                // Set the user to determine if they are logged in




                     await asignDataService.AsignarDatos();
                    loadingdata = false;
                





            }
            catch { }
        }
      

        
    }
}


@code{

    
}