@inherits LayoutComponentBase
<MudThemeProvider Theme="@ThemeCustom"/>
<MudDialogProvider CloseOnEscapeKey="true" />
<MudSnackbarProvider />
<div>
    
                <MudItem md="12" sm="12" xs="12">
                  

                        @Body
                  

                </MudItem>
            

</div>

@code{
    private MudTheme ThemeCustom => new()
        {


            Palette = new PaletteLight
            {
                Primary = "#1D1A31",
                Secondary = "#393E46",
                Surface = "#FDFDFD ",
                Background = "#FDFDFD ",
                Tertiary = "#61A3BA",
                Error = "#FE5F55"





            },
            PaletteDark = new PaletteDark
            {

                Primary = "#FFFFFF",
                Secondary = "#124559",

                Background = "#fdfdfd",

                Surface = "#fdfdfd",






            },

            LayoutProperties = new LayoutProperties()
            {

                DefaultBorderRadius = "10px",


            },

            Typography = new Typography()
            {


                Default = new Default()
                {
                    FontFamily = new string[] { "Visby" },



                }






            }


        };
}