<MudContainer>
    <div style="height: 50px;display: flex; gap: 10px; width: 100%; align-items: center; justify-content: center; margin-bottom: 20px; ">

        <MudText Color="Color.Error" Style="font-size: 20px; font-weight: bold;">RECIENTE EN METAMUSIC </MudText>
        <MudIcon Icon="@Icons.Material.Rounded.Whatshot" Color="Color.Error"></MudIcon>
    </div>

    <MudGrid Justify="Justify.Center ">

        @foreach (var album in albumes)
        {
            <MudItem md="4" lg="4" xl="4" xxl="4" sm="6" xs="6" >
                <MetaMusic.Pages.Common_Components.ReviewCard album="album"></MetaMusic.Pages.Common_Components.ReviewCard>

            </MudItem>
        }



    </MudGrid>

</MudContainer>
@code {
    public List<Album> albumes = new List<Album>()
    {
        new Album(){nombre = "Did You Know That Theres A Tunnel Under Ocean Blvd", Autores ="Lana del Rey", calificacion = 8, portada = "https://cdn.shopify.com/s/files/1/0588/3455/0945/products/Lana_Del_Rey_-_Did_You_Know_That_There_s_a_Tunnel_Under_Ocean_Blvd_c4d76671-1a12-4c93-b9ba-036b950a84aa_2048x2048.jpg?v=1672923775", genero = "Alternativo"},
         new Album(){nombre = "To Pimp A Butterfly", Autores ="Kendrick Lamar", calificacion = 8, portada = "https://th.bing.com/th/id/OIP.pJVdxA07ueQA2MSsTIwJcAHaHa?rs=1&pid=ImgDetMain", genero = "Hip Hop"},
          new Album(){nombre = "Happier Than Ever", Autores ="Billie Eilish", calificacion = 5, portada = "https://th.bing.com/th/id/R.35acaa79ec2e95dd3efa0e581a845970?rik=WFGE7VsZEeLqYw&pid=ImgRaw&r=0", genero = "Alternativo"},
    };
}
