<MudContainer>
    <div style="height: 50px;display: flex; gap: 10px; width: 100%; align-items: center; justify-content: center; margin-bottom: 20px; ">

        <MudText Color="Color.Error" Style="font-size: 20px; font-weight: bold;">RECIENTE EN METAMUSIC </MudText>
        <MudIcon Icon="@Icons.Material.Rounded.Whatshot" Color="Color.Error"></MudIcon>
    </div>

    <MudGrid Justify="Justify.Center ">

        @if(albumes.Count() <= 1)
        {
            <BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster" Delay="TimeSpan.FromSeconds(1)">
                <div style="width: 100%; height: 100%;  display:flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center;opacity: 0.7; ">


                    <MudItem md="12" lg="12" xl="12" xxl="12" sm="12" xs="12" Style=" display:flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center; ">
                       <MudIcon Icon="@Icons.Material.Rounded.AutoAwesome"></MudIcon>

                        <MudText Align="Align.Center" Style="font-size: 15px;">Contenido nuevo pronto</MudText>
                       

                    </MudItem>
                </div>
            </BlazorAnimation.Animation>
        }
        else
        {
            @foreach (var album in albumes)
            {
                <MudItem md="4" lg="4" xl="4" xxl="4" sm="6" xs="6">
                    <MetaMusic.Pages.Common_Components.ReviewCard album="album"></MetaMusic.Pages.Common_Components.ReviewCard>

                </MudItem>
            }
        }
       



    </MudGrid>

</MudContainer>
@code {
    public List<AlbumResponse> albumes = new List<AlbumResponse>()
    {
       
    };
}
