<MudContainer>
    <div style="height: 50px;display: flex; gap: 10px; width: 100%; align-items: center; justify-content: center; margin-bottom: 20px; ">

        <MudText Color="Color.Error" Style="font-size: 20px; font-weight: bold;">RECIENTE EN METAMUSIC </MudText>
        <MudIcon Icon="@Icons.Material.Rounded.Whatshot" Color="Color.Error"></MudIcon>
    </div>

    <MudGrid Justify="Justify.Center ">

        @foreach (var album in albumes)
        {
            <MudItem md="4" lg="4" xl="4" xxl="4" sm="6" xs="6" >
                <MetaMusic.Pages.Common_Components.ReviewCard album="album"></MetaMusic.Pages.Common_Components.ReviewCard>

            </MudItem>
        }



    </MudGrid>

</MudContainer>
@code {
    public List<AlbumResponse> albumes = new List<AlbumResponse>()
    {
       
    };
}
