<MudPaper>
    <MudContainer Style="display: flex; flex-direction: column; gap 10px; ">
        <MudContainer Style="height: 30px;display: flex; gap: 10px;padding: 0; margin-top:20px; ">

            <MudAvatar style="height: 20px; width: 20px;">
                <MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="https://th.bing.com/th/id/OIP.UgQzi6yAnGyBFUgYT-H0swHaHa?rs=1&pid=ImgDetMain" />
            </MudAvatar>
            <MudText Style="font-size: 12px; font-weight: bold;">
                Breiddy Garcia
            </MudText>

            <MudText Color="Color.Error" Style="font-size: 12px; font-weight:bold; "> Nota Destacada </MudText>
        </MudContainer>
        <MudContainer Class=" review-text" Style="padding: 0; height: 50px;">
            <MudText Style="font-size: 12px; opacity: 0.7;">
                Musicalmente, el álbum es diverso y complejo, fusionando elementos de jazz, funk, soul y spoken word con el hip-hop. La producción es rica en capas, con arreglos detallados y colaboraciones con músicos talentosos que contribuyen a la profundidad sonora del proyecto.
            </MudText>
        </MudContainer>
        <MudContainer Style="padding: 0; display: flex; gap :30px; margin-top: 15px; margin-bottom: 15px; align-items: center;">
            <div style="display: flex; gap :8px;align-items: center;">
                <MudIcon Icon="@Icons.Material.Rounded.Favorite" Color="Color.Error" Style="width: 15px; height: 15px;"></MudIcon>
                <MudText Style="font-size: 12px;font-weight: bold; opacity: 0.7; " Color="Color.Primary">90</MudText>
            </div>

            <div style="display: flex; gap :8px;align-items: center;">
                <MudIcon Icon="@Icons.Material.Rounded.ThumbDownAlt" Color="Color.Error" Style="width: 15px; height: 15px;"></MudIcon>
                <MudText Style="font-size: 12px;font-weight: bold; opacity: 0.7; " Color="Color.Primary">5</MudText>
            </div>

        </MudContainer>

    </MudContainer>
</MudPaper>
@code {

}
