

    <style>
        .track-title {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .track-card {
            cursor: pointer;
        }
         .track-card:hover{
            color: #E74646;
        }

    </style>

<MudCard Class="track-card" >
    <MudContainer Style="display: flex; gap: 10px; justify-content: space-between; align-items: center;">
        <div Style="width: auto;display: flex; gap: 15px; align-items: center; margin-top: 10px; margin-bottom: 10px; height: 50px;" class="track-title">
            <MudAvatar Square=true Style="border-radius: 5px;">
                <MudImage src="@track.Album.portada"></MudImage>
            </MudAvatar>
            <MudText Style="font-size: 12px; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@track.Titulo</MudText>
        </div>
      <div style="display: flex; gap: 10px; align-items: center;">
                <MudText Style="font-size: 12px; font-weight: bold; " >@track.Calificacion</MudText>

                <MudIconButton  Color="Color.Error" Disabled=DisableLikeButton Icon="@Icons.Material.Rounded.Favorite"  Size="Size.Small" ></MudIconButton>
      </div>
    </MudContainer>
</MudCard>

 @code {
    [Parameter]  public Track track { get; set; } = new Track();

    [Parameter] public bool DisableLikeButton { get; set; } = false;



   
}
