

    <style>
        .track-title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .track-card {
            cursor: pointer;
        }
         .track-card:hover{
            color: #E74646;
        }

    </style>

<MudCard Class="track-card">
    <MudContainer Style="display: flex; gap: 10px; justify-content: space-between; align-items: center;">
        <div Style="width: auto;display: flex; gap: 15px; align-items: center; margin-top: 10px; margin-bottom: 10px; " class="track-title">
            <MudAvatar>
                <MudImage src="@track.Album.portada"></MudImage>
            </MudAvatar>
            <MudText Style="font-size: 12px; font-weight: bold; ">@track.Titulo</MudText>
        </div>
      
    </MudContainer>
</MudCard>

@code {
    [Parameter]
    public Track track { get; set; } = new Track();

}
